<nav class="navbar navbar-expand-lg navbar-dark bg-primary">
    <a class="navbar-brand" routerLink="/home">Forms</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
  
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav mr-auto">
        <li class="nav-item active">
          <a class="nav-link" routerLink="/home">Home <span class="sr-only">(current)</span></a>
        </li>
       
      </ul>
      <!-- <a class="btn btn-outline-light my-2 my-sm-1" routerLink="/">Logout</a> -->
      <form class="form-inline my-2 my-lg-0">
        <!-- <input class="form-control mr-sm-2" type="search" placeholder="Search" aria-label="Search"> -->
        
          <a class="btn btn-outline-light my-2 my-sm-0" routerLink="/">Logout</a>
          <a class="btn btn-outline-light my-2 my-sm-0" routerLink="/form">Create</a>
        
        
      </form>
    </div>
  </nav>